@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Hanken+Grotesk:wght@400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

//variables

$border: #ebebeb;
$border-width: 1px;
$border-type: solid;
$text-color: #3d3d3d;
$blue: #6699cc;

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  border-bottom: $border-width $border-type $border;

  h1 {
    font-size: 1.125rem;
    color: $text-color;
  }
  input {
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
    border: $border-width $border-type $border;
    outline: none;
    &:focus {
      border: $border-width $border-type $blue;
    }
  }
}

.gallery {
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
  }
  &-item {
    width: 20rem;
  }
}
